@font-face {
  font-family: 'Hello';
  src: url('../assets/Hello.ttf') format('truetype');
}

@font-face {
  font-family: 'Eighty-Four';
  src: url('../assets/Eighty-Four.ttf') format('truetype');
}

html {
  background-color: #000;
  overflow: hidden;
  cursor: default;
}

.panel {
  position: absolute;
}

#page-num {
  font-size: 48px;
  bottom: 0px;
  left: 576px;
  font-family: Arial;
  color: #422518;
}

#arrow-left {
  opacity: 0.65;
  bottom: 2px;
  right: 296px;
}

#arrow-right {
  opacity: 0.65;
  bottom: 2px;
  right: 4px;
}

#arrow-left:hover, #arrow-right:hover {
  opacity: 1;
  cursor: pointer;
}

#newspaper-icon {
  margin: 6px;
  border: dotted green 2px;
  border-radius: 6px;
  min-width: 100px;
  min-height: 100px;
  float: right;
}

p, .casefile-text, .file-text, .topbar-text, .top-text {
  color: green;
  font-family: monospace;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.casefile-date {
  float: right;
  margin-right: 6px;
}

#cover {
  opacity: 0;
  position: absolute;
  z-index: 4;
  color: #FFF;
  text-align: center;
  font-size: 72px;
  font-family: 'Eighty-Four';
  background-color: #000;
  min-width: 800px;
  min-height: 600px;
}

#strikes {
  color: #000;
  left: 268px;
  top: 246px;
  position: absolute;
}

p {
  padding: 6px 0px;
  text-align: center;
}

.newspaper {
  margin: 2px;
  border: 2px dotted green;
  border-bottom: hidden;
}

.top-text {
  color: #000;
  font-family: monospace;
  font-size: 20px;
  padding-left: 6px;
}

.casefile-text, .file-text {
  padding-left: 10px;
}

#timer {
  border: solid #FFF 2px;
  border-radius: 2px;
  position: absolute;
  left: 6px;
  top: 310px;
  color: #FFF;
  font-size: 36px;
  font-family: Arial;
}

.topbar-text, .text {
  min-height: 24px;
  padding-right: 6px;
  padding-left: 6px;
  color: #000;
  background-color: #004B00;
}

.topbar-text {
  margin-left: 6px;
  font-size: 20px;
  position: absolute;
  bottom: 0px;
}

.text {
  line-height: 1.3;
}

.cover-button {
  opacity: 0.65;
  margin-top: 100px;
  border: solid #FFF 2px;
  background-color: #FFF;
  color: #000;
  border-radius: 5px;
}

.cover-button:hover {
  opacity: 1;
  cursor: pointer;
}

.topbar-text:hover, .text:hover {
  cursor: pointer;
  color: #000;
  background-color: lightgreen;
}

#casefile-panel {
  border: solid #E0D0C8 8px;
  border-radius: 5px;
  left: 0px;
  top: 0px;
  width: 384px;
  height: 284px;
}

.bar {
  min-width: 374px;
  min-height: 24px;
  color: #000;
  background-color: green;
}

#casefile-topbar {
  margin-bottom: 3px;
}

#casefile-bottombar {
  margin-bottom: 0px;
  position: absolute;
  min-width: 384px;
  bottom: 0px;
}

#evidence-panel {
  background: #422518;
  background: -webkit-linear-gradient(#422518, #A66829);
  right: 0px;
  width: 400px;
  height: 600px;
}

#officer-panel {
  width: 400px;
  height: 300px;
  left: 0px;
  bottom: 0px;
}

.officer-message {
  padding-left: 6px;
  padding-right: 6px;
  position: absolute;
  bottom: 0px;
  font-size: 34px;
  background-color: #FFF;
  font-family: 'Eighty-Four';
  color: #000;
  border-radius: 2px;
}

.evidence-tag {
  cursor: pointer;
  margin-top: 15px;
  color: #FFF;
  height: 124px;
}

.case-num, .date, .type {
  position: relative;
  font-family: 'Hello';
  font-size: 48px;
  z-index: 2;
  left: 38px;
  top: -120px;
}

.date {
  left: 198px;
  top: -176px;
}

.type {
  font-size: 30px;
  top: -166px;
}
